.box {
  padding-top: 3%;
  border: 3px solid black;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  height: 400px;
  width: 600px;
  margin: auto;
}

.buttons {
  text-align: center;
  margin: auto;
}

button {
  font-size: 20px;
  margin-left: 4px;
  margin-top: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid rgb(187, 87, 254);
}

button:hover {
  background-color: blueviolet;
  color: white;
}
